h1 {
    color: blueviolet;

}

li {
    font-style: italic;
}
/* want the element with the id=intro to be selected */
#intro {
    background-color: red;   
}

/* want the profilepic with the id=intro to be selected */
.profilepic {
    opacity: 0.6;
    border-radius: 10px;
    border: 10 px solid red;
}